<%- include('../layout') -%>

<body>

  <%- include('patientSideBar') -%>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->

    <%- include('../../partials/navbar') -%>
    <!-- Header -->

    <%- include('../../partials/headerdashboard') -%>
    <!-- Page content -->
    <div class="container-fluid mt--7">

      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Health Care Professionals</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Users table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                    <th scope="col">Visit</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0;i<indUsers.length;i++){ %>
                  <tr>
                    <th scope="row">
                      <%= indUsers[i].firstname + " " + indUsers[i].lastname %>
                    </th>
                    <td>
                      Zipcode: <%= indUsers[i].zipcode %> State: <%= indUsers[i].state %>
                    </td>
                    <td>
                      <%= indUsers[i].email %>
                    </td>
                    <td>
                      <a href="/patient/individual/<%= indUsers[i].email %>" class="btn btn-sm btn-primary">See all</a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Hospitals</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Users table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                    <th scope="col">Visit</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0;i<hospital.length;i++){ %>
                  <tr>
                    <th scope="row">
                      <%= hospital[i].firstname%>
                    </th>
                    <td>
                      Zipcode: <%= hospital[i].zipcode %> State: <%= hospital[i].state %>
                    </td>
                    <td>
                      <%= hospital[i].email %>
                    </td>
                    <td>
                      <a href="/patient/hospital/<%= hospital[i].email %>" class="btn btn-sm btn-primary">See all</a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Pharmacy</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Users table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                    <th scope="col">Visit</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0;i<pharmacy.length;i++){ %>
                  <tr>
                    <th scope="row">
                      <%= pharmacy[i].firstname%>
                    </th>
                    <td>
                      Zipcode: <%= pharmacy[i].zipcode %> State: <%= pharmacy[i].state %>
                    </td>
                    <td>
                      <%= pharmacy[i].email %>
                    </td>
                    <td>
                      <a href="/patient/pharmacy/<%= pharmacy[i].email %>" class="btn btn-sm btn-primary">See all</a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Insurance</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Users table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                    <th scope="col">Visit</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0;i<insurance.length;i++){ %>
                  <tr>
                    <th scope="row">
                      <%= insurance[i].firstname%>
                    </th>
                    <td>
                      Zipcode: <%= insurance[i].zipcode %> State: <%= insurance[i].state %>
                    </td>
                    <td>
                      <%= insurance[i].email %>
                    </td>
                    <td>
                      <a href="/patient/insurance/<%= insurance[i].email %>" class="btn btn-sm btn-primary">See all</a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>
  <!-- Include scripts -->
  <%- include('../../partials/scripts') -%>
</body>

</html>
