%- include('../layout') -%>
<body>

  <%- include('../../partials/adminDashboard/adminSideBar') -%>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->

    <%- include('../../partials/navbar') -%>
    <!-- Header -->

    <%- include('../../partials/headerdashboard') -%>
    <!-- Page content -->
    <div class="container-fluid mt--7">

      <!-- Approve Users Table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Approve Users</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">User info</th>
                    <th scope="col">Category</th>
                    <th scope="col">Email</th>
                    <th scope="col">Private Key</th>
                    <th scope="col">Approve User</th>
                    <th scope="col">Disapprove User</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          Piyush Verma
                        </div>
                      </div>
                    </th>
                    <td>
                      Paitent
                    </td>
                    <td>
                        piyush20097@iiitd.ac.in
                    </td>
                    <td>
                      3SFFSDSF84N39HR2NR9H9SF
                    </td>
                    <td>
                      <button type="submit" class="btn btn-primary btn-block" href="/otpverify">
                        APPROVE
                      </button>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-primary btn-block" href="/otpverify">
                        DISAPPROVE
                      </button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%- include('../../partials/footerdashboard') -%>

    </div>
  </div>
  <!-- Include scripts -->
  <%- include('../../partials/scripts') -%>
</body>

</html>
